#landing {
	background-image: url(https://images.pexels.com/photos/8511548/pexels-photo-8511548.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

}

#aboutMe {
	font-family: satisfy;
	font-size: 25px;
}

#projects {
	font-family: satisfy;
	background-color: #e28743;
}
