#landing {
	background-image: url(https://images.pexels.com/photos/4287012/pexels-photo-4287012.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
	/*background-image: url(https://images.pexels.com/photos/3255761/pexels-photo-3255761.jpeg?cs=srgb&dl=pexels-scott-webb-3255761.jpg&fm=jpg);/
	/*background-image: url(https://images.pexels.com/photos/9176211/pexels-photo-9176211.jpeg?cs=srgb&dl=pexels-kseniya-lapteva-9176211.jpg&fm=jpg);/
	/*background-image: url(images/background-beach.jpg);*/
	/*background-image: url(https://images.pexels.com/photos/8511548/pexels-photo-8511548.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);*/
	/*background-image: url(https://images.pexels.com/photos/1762851/pexels-photo-1762851.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);*/
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

}
html {
	scroll-behavior: smooth;
}


 #my-name {
 	font-family: satisfy, cursive; !important
 }

 #intro {
	font-size: 20px;
 }

#projects,
#mini,
#intro,
#tools,
.contacts,
#aboutMe,
#visit{
	font-family: hubballi, sans-serif;
}

.card-img-top {
	height: 100%;
	width: 95%;

}

.card {
	border: none;
}



.contacts {
	width: 100%;
}


#gmap_canvas {
	height: 70vh;
	width: 100%;
	border:  0;
}

.fa-icon {
	font-size: 2rem;
}



#tools-section > img {
	width:  100px;
}


.row {
	margin: 0 !important;

}

#profile-pic {
	height: 250px;
	width: 250px;
	flex-basis: unset;
	border-radius: 30px;
}

/*coffee color*/
.navbar,
#projects,
#footer,
#tools {
	background-color: #b9844f;
}

/*cream*/
#mini, 
#contacts,
.card {
	background-color: #fbf7ef;
}

/*white font*/
#tools,
#footer,
.fa-icon {
	color: white;
}

/*dark brown font*/
#contacts,
#mini,
#aboutMe {
	color: #4d351d !important;
}

.btn:hover {
	color: black;
	border-color: black;
}
